<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/sobre.css">
    <title>Sobre</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1><a href="index.html"><span class="escola">Escola</span><span class="inova">Inova</span></a></h1>
        </div>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="fale-conosco.html">Fale Conosco</a></li>
            <li><a href="minha-area.html" class="area">Minha área</a></li>
        </ul>
    </header>

    <section>
        <h2>Sobre nós</h2>
        <p>Para todos que desejam ampliar as possibilidades que o futuro nos oferece, a Escola Principal inovação é um
            lugar que facilita a transformação dos seus sonhos em realidade, utilizamos uma metodologia inovadora, tendo
            a gameficação como estratégia de ensino. Diferentemente de outros colégios onde se utiliza o método
            tradicional de ensino, nosso colégio possibilita aos alunos aprender enquanto se divertem.</p>

        <div class="sobre-container">
            <div class="img">
                <img src="./images/img-sobre-1.png" alt="">
            </div>
            <div class="text">
                <h3>Missão</h3>
                <p>Nossa missão facilitar com que nossos alunos alcancem seus sonhos, oferecendo educação de qualidade
                    de forma inovadora, com conceitos como a gamificação, tornando o processo de aprendizagem mais
                    agradável.</p>
            </div>
        </div>

        <div class="sobre-container">
            <div class="text">
                <h3>Visão</h3>
                <p>Queremos nos tonar referêcia na utilização da gameficação como método de ensino, superando a
                    concorrência e em 10 anos ajudar mais de 10 mil alunos a alcançarem seus sonhos.</p>
            </div>
            <div class="img">
                <img src="./images/img-sobre-2.png" alt="">
            </div>
        </div>

        <div class="sobre-container">
            <div class="img">
                <img src="./images/img-sobre-3.png" alt="">
            </div>
            <div class="text">
                <h3>Valores</h3>

                <ul class="list">
                    <li>Educação</li>
                    <li>Inovação</li>
                    <li>Qualidade</li>
                    <li>Cuidado</li>
                    <li>Empatia</li>
                </ul>
            </div>
        </div>

    </section>

    <footer>
        <p class="heavy">Escola Principal Inova</p>
        <div class="footer-div">
            <p>São Paulo, Brasil</p>
        </div>
        <div class="footer-div">
            <p class="light">Rua Dr. Ulisses Cirilo, 225</p>
            <p class="light">São Miguel Pta.</p>
        </div>
        <p class="light">(11)3333-3333</p>
        <p class="light">contato@escolaprincipalinova.com.br</p>
        <div class="footer-container">
            <div class="footer-icons">
                <div><img src="./images/icon-lin.png" alt=""></div>
                <div><img src="./images/icon-lin.png" alt=""></div>
                <div><img src="./images/icon-lin.png" alt=""></div>
            </div>
            <div>
                <p class="footer-text-right">Um novo conceito em escola</p>
            </div>
        </div>
        <span>2012 All rights reserved</span>
        <br>
        <span>privacy policy</span>
        <span>Web site terms of use</span>
        <span>LGPD</span>
        <span>cookie usage</span>
    </footer>
</body>

</html>